* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    text-decoration: none;
}
.header {
    background: #222222;
    padding: 13px 0;
}
.header__flex-menu {
    display: flex;
    justify-content: space-between;
}
.header__menu__img-close {
    display: none;
}
.header__icon {
    margin-left: 12px;
    vertical-align: middle;
}
.login {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.subscribe {
    padding: 6px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 16px;
}
.header__openClose-menu {
    display: inline-block;
}
.header__window-menu {
    display: block;
    position: absolute;
    top: 59px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.355028);
    border-radius: 4px;
}
.windows-close {
    display: none;
}
/* .header__openClose-menu:hover .header__window-menu {
    display: block;
} */
/* NAVIGATION BLOCK */
.nav {
    padding: 14px 0;
    border-bottom: 1px solid #E8E8E8;
}
.nav__menu {
    display: flex;
}
.list {
    margin-right: 24px;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
}
.link__hover::after {
    content: url(../img/nav__down.svg);
    margin-left: 9px;
    vertical-align: middle;
}
.nav__flex-menu {
    display: flex;
    justify-content: space-between;
}
.nav__search {
    margin-right: 12px;
}

.header__item-list {
    background: #FFFFFF;
    padding: 8px;
}
.header__items {
    background: transparent;
    border-radius: 4px;
    padding: 12px 37px 9px 10px;
    cursor: pointer;
}
.header__items:hover {
    background: rgba(0, 0, 0, 0.06);
}
.header__items img {
    display: inline-block;
    vertical-align: top;
}
.header__about__it {
    display: inline-block;
    margin-left: 10px;
}
.header__item-list  h1 {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
}
.header__item-list p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    margin-top: 2px;
}
/* MAIN BLOCK EDIT */
.main__title__edit {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 15px;
}
.main__block-news {
    display: flex;
    justify-content: space-between;
}
.main__image-block{
    background-image: url(../img/main-news.png);
    width: 800px;
    height: 400px;
}
.main__right-news {
    vertical-align: top;
    width: 416px;
}
.main__text-news{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
}
.main__text-news:hover {
    text-decoration-line: underline;
}
.main__text-history {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 12px;
}
.main__text-history:hover {
    text-decoration-line: underline;
}
.main__text-company {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.main__text-company:hover {
    text-decoration-line: underline;
}
.main__right-news p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    margin-top: 10px;
    margin-bottom: 16px;
}
.main__right-news img{
    margin: 0 10px 0 10px;
    vertical-align: middle;
}
.main__button-read {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 14px 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.main__button-read img {
    vertical-align: middle;
}
/* ARTICLES BLOCK    */
.article__grid-item {
    display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 1em;
}
.article__news-card {
    width: 294px;
    margin-top: 20px;
}
.articles__history {
    font-size: 18px;
    line-height: 21px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.article__company {
    font-size: 14px;
    line-height: 16px;
}
/* RECORDS BLOCK  */
.records__flex-menu {
    width: 840px;
    margin-top: 50px;
    background: #FBFBFE;
    border: 1px solid #EAEEF2;
    border-radius: 2px;
}
.records__menu {
    display: flex;
    padding: 24px;
}
.records__link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 24px;
}
.records__line {
    border-bottom: 5px solid #8D8DF8;
    padding-bottom: 8px;
}
.records__discussed {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
}
.records__menu-close {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin: 24px;
}
.records__flex-menu {
    display: flex;
    justify-content: space-between;
}
.records__submenu {
    position: absolute;
    margin-top: 37px;
    padding-left: 24px;
}
.records__sublist {
    list-style: outside;
    margin-bottom: 16px;
}
.records__sublink {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.records__time {
    color: #444444;
    margin-right: 10px;
}