* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header {
    background: #222222;
    padding: 13px 0;
}
.header__menu__img-close {
    display: none;
}
.header__icon {
    margin-left: 12px;
    vertical-align: middle;
}